@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

* {
  box-sizing: border-box;
}

:root {
  --dark-bg-color: #630000;
  --lighter-bg-color: #EEEBDD;
  --light-bg-color: #c2c0b7e5;
  --dark-txt-color: #1B1717;
  --light-txt-color: #810000;
}

body {
  font-family: 'Lato', sans-serif;
  background: var(--dark-bg-color);
  min-width: 319px;
  min-height: 100vh;
  position: relative;
}

.title {
  min-height: 10vh;
}

h1 {
  color: var(--lighter-bg-color);
  font-size: 2.5rem;
}

.container {
 min-height: 80vh;
}

.col{
  background: var(--lighter-bg-color);
  box-shadow: 2px 2px 4px black;
  color: var(--light-txt-color);
  border-radius: 10px;
  font-size: 2rem;
  height: 35vh;
}

.game-rules{
  position: fixed;
  z-index: 20;
  background-color: var(--dark-bg-color);
  color: var(--lighter-bg-color);
  width: 80vw;
  left: 10%;
  height: 60vh;

}

.current-player{
  background-color: var(--light-bg-color);
}

.winner-bg {
  background-image: url(images/woman.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.looser-bg{
  background-image: url(images/crying.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.big-title {
  font-size: 4rem;
  font-weight: bolder;
}


.dice{
  width: 3rem;
}

.score-box {
  font-size: 1rem;
  background: var(--light-txt-color);
  color: var(--lighter-bg-color);
  width: 60px;
  height: 60px;
  line-height: 0.5rem;
  border-radius: 8px;
}

.temporary-score {
  font-size: 1.2rem;
}

.btn {
  color: var(--lighter-bg-color);
  background: transparent;
  font-size: 1rem;
}

.btn:hover{
  color: var(--lighter-bg-color);
  background: var(--dark-txt-color);
}


.bi-circle-fill{
  font-size: 0.5rem;
}


@media screen and (min-width: 520px) {
  .btn {
    font-size: 1.5rem;
  }

}

@media screen and (min-width: 576px) {
  .col {
    height: 60vh;
  }
}

@media screen and (max-height: 640px) {
  .dice{
    width: 2rem;
  }

}


@media (orientation: landscape) and (max-height: 420px) {
  .col {
    height: 60vh;
  }
  .title{
    margin-bottom: 10px;
  }
  .dice{
    width: 2rem;
  }
  .score-box{
    font-size: 0.7rem;
    width: 50px;
    height: 50px;
  }
  .temporary-score{
    font-size: 1rem;
  }
 
  .btn {
    font-size: 1rem;
  }
}
